<p>Add a new car!</p>
<form action="/items" method="post">
  <label for="makeModel">Make and Model:</label>
  <input id="makeModel" name="makeModel" type="text">
  <label for="price">Price:</label>
  <input id="price" name="price" type="number">
  <label for="miles">Miles:</label>
  <input id="miles" name="miles" type="number">
  <button type="submit">Submit</button>
</form>